//@import url("https://github.com/bmc-sf/bmc-sf-temp/blob/main/flexcardCustom.css");
.headerBigBlock{
  background-color: black;
  border: 4px black;
  border-radius: 10px;
  padding: 10px;
  margin: 5px
}
.headerTitleBlock
{
  background-color: #ffc500;
  border: 4px black;
  border-radius: 10px;
  padding: 10px;
  margin: 5px
}
.searchGlobal
{
  background-color: black;
  border: 4px #ffc500;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  padding: 10px;
  margin: 5px
}
.colHeaderBlock
{
  background-color: black;
  border: 4px #ffc500;
  border-radius: 10px;
  font-weight: bold;
  color: #ffc500;
  //height: 20px;
  text-align: left;
  padding: 10px;
  margin: 5px
}
.dataBlock
{
  background-color: lightgrey;
  border: 3px black;
  border-radius: 10px;
  padding: 10px;
  margin: 5px
}
.searchButton
{
  border-radius: 10px;
}
.searchButton:hover
{
  border-radius: 10px;
  background-color: #ffc500;
}
